
.list-container{
  position: absolute;
  left:0;
  top:0;
  bottom:0;
  width: 300px;
  overflow-x:hidden;
  overflow-y: auto;
}
.detail-container{
  position: absolute;
  left:300px;
  bottom:0;
  right:0;
  top: 0;
  padding: 0 30px;
  overflow-x:hidden;
  overflow-y: auto;
}
