// 标准字
$baseFontSize: 14px;
$baseLineHeight: 20px;

$miniFontSize: 12px;
$miniLineHeight: 16px;

$titleFontSize: 16px;
$middleFontSize: 18px;
$largeTitleSize: 20px;

$bigTitleSize: 24px;

// 标准色
$bgColor:#f4f4f4;
$primary:#3188DE ;
$primary-font-color: rgba(255,255,255,.87);
$success: #2AD586;
$border-color:#8595ef;;
$baseColor: #666;
$titleColor: #333;
$lightFontColor: #999;
$borderColor: #ececec;
$backgroundColor: #f6f6f6;
$lightColor: #fff;
// size

$close-dist: 15px;
$middle-dist: 20px;
$far-dist: 25px;

$basePadding: 15px;
$middlePadding: 20px;
$headbarHeight: 100px;

$footerBarHeight: 50px;

$lagerFooterBarHeight: 65px;

$imgPreHeight:187px;

$baseIndex: 13;

$maxIndex: 10000;
